// Flex
.d-flex {
    @media screen and (max-width: 767px) {
        &.h-100 {
            height: auto!important;
        }
    }
}
.d-flex-mobile {
    @media screen and (max-width: 767px) {
        flex-direction: column;
        &.justify-content-center {
            align-items: center!important;
        }
    }
}
.justify-content-start-mobile {
    @media screen and (max-width: 767px) {
        justify-content: flex-start!important;
    }
}
.flex-1 {
    flex: 1 0 auto;
}